---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from 'astro:assets';
import NaturvinskassenHero from "../assets/images/naturvinskassenhero.webp";
import NaturvinskassenSkrift from "../assets/images/naturvinskassen-skrift.svg";
import NaturvinsMobil from "../assets/images/naturvinsmobil.svg";
import KassenMobil from "../assets/images/kassenmobil.svg";

import NaturvinskassenIkon from "../assets/images/naturvinskassen-red.svg";
import VinFlaskeRight from "../assets/images/vinflaskeright.svg";
import Levering from "../assets/images/leveringikon.svg";
import SkaalIkon from "../assets/images/skaal-ikon.svg";
---
<style>
    h1, h2{
        @apply italic;
        @apply text-orange-500
    }
</style>
<MainLayout>
    <article class="h-full md:h-full py-5xl md:py-8xl relative grid md:grid-cols-2 md:gap-xs max-w-[1000px] mx-auto ">
        <!-- heading -->
        <div class="p-xs pt-m   absolute flex flex-col w-full md:hidden">
            <Image class="" src={NaturvinsMobil} alt=""></Image>
            <Image class="-mt-sm" src={KassenMobil} alt=""></Image>
        </div>
        <div class="p-xs absolute hidden md:block md:pt-m">
            <Image class="" src={NaturvinskassenSkrift} alt=""></Image>
        </div>
        <!-- billede -->
        <section class="p-xs w-[55%] self-end md:w-full flex">
            <Image class="place-self-end"  src={NaturvinskassenHero} alt=""></Image>
        </section>
        <!-- tekst -->
        <section class=" p-xs self-start md:self-center grid gap-sm">
            <p>
                Oplev naturvinens autentiske verden med vores abonnement, hvor vi <span class="font-bold leading-relaxed">hver måned leverer 3 nøje udvalgte flasker naturvin</span> direkte til din dør – fragtfrit og uden binding. Kom tæt på vinbønderne, smag vin uden manipulation, og lad dig inspirere af opskrifter og udførlige vinbeskrivelser.
                <br><br>
                Som medlem får du eksklusive fordele som rabatter, kassetilbud og forkøbsret på særlige vine. Start din naturvinsrejse i dag og opdag magien i naturlig vinproduktion.
                
                <br><br>
                <span class="font-bold leading-relaxed">Ingen binding. Fri levering. Fuldt fleksibelt.</span>
            </p>
            <a href="/bestil">     
                <Button variant="stroke">Bestil Naturvinskassen (450 DKK/md.)</Button>
            </a>
       
        </section>
    </article>
    <article class="p-xs bg-offwhite py-3xl">
        <h1 class="mb-xs md:text-center md:mb-lg">Hvordan fungerer der?</h1>
        <section class="flex flex-col gap-xs md:flex md:flex-row md:gap-10">
            <section class="flex flex-col md:flex-row gap-xs relative">
                <article class="flex flex-row md:flex-col md:justify-center md:gap-xxs justify-between gap-sm">
                     <!-- tekst -->
                    <div class="self-center md:self-start md:order-2">
                    <!-- heading -->
                        <h3 class="text-headline3 sm:text-headline3-lg font-bold ">
                            1.
                            <br>
                            Bestil
                        </h3>
                        <!-- brødtekst -->
                        <p>
                            Tilmeld dig til abonnementet – fri levering og ingen binding.
                        </p>
                    </div>
                    <!-- ikon -->
                    <div class="self-center md:self-start ">
                        <Image class="" src={NaturvinskassenIkon} alt="vinflaske illustration"></Image>
                    </div>
                </article>
                <!-- pil -->
                <div class="grid justify-items-end w-[30%] mx-auto md:w-full md:m-0  md:absolute">
                    <div class=" bg-[url('/bue-right.svg')] aspect-[28/97] md:bg-[url('/bue-down.svg')] md:aspect-[191/44] md:w-[10%] bg-contain w-[20%] bg-no-repeat ">
                </div>
            </section>

            <section class="flex flex-col md:flex-row gap-xs relative">
                <article class="flex flex-row md:flex-col md:justify-center md:gap-xxs justify-between gap-sm">
                     <!-- tekst -->
                    <div class="self-center md:self-start order-2 md:order-1 grid">
                    <!-- heading -->
                        <h3 class="md:order-2 text-headline3 sm:text-headline3-lg font-bold">
                            2.
                            <br>
                            Vi udvælger vin
                        </h3>
                        <!-- brødtekst -->
                        <p class="md:order-1">
                            Hver måned håndplukker vi 3 unikke flasker fra passionerede vinbønder.
                        </p>
                    </div>
                    <!-- ikon -->
                    <div class="self-center md:self-start md:order-2">
                        <Image class="aspect-[73/138] " src={VinFlaskeRight} alt="vinflaske illustration"></Image>
                    </div>
                </section>

                <!-- pil -->
                 <div class="grid justify-items-start w-[30%] mx-auto md:w-full md:m-0  md:absolute ">
                    <div class=" bg-[url('/bue-left.svg')] aspect-[28/97] bg-contain w-[20%] bg-no-repeat md:bg-[url('/bue-down.svg')] md:aspect-[191/44] md:w-[10%]">
                </div>
                 </div>
                
            </section>

            <section class="flex flex-col md:flex-row gap-xs relative">
                <article class="flex flex-row md:flex-col md:justify-center md:gap-xxs justify-between gap-sm">
                    <!-- tekst -->
                    <div class="self-center md:self-start md:order-2">
                        <!-- heading -->
                        <h3 class="text-headline3 sm:text-headline3-lg font-bold ">
                            3.
                            <br>
                            Levering
                        </h3>
                        <!-- brødtekst -->
                        <p>
                            Fragtfrit og bæredygtigt – i Aarhus leveres med cykelbud.
                        </p>
                    </div>
                    <!-- ikon -->
                    <div class="self-center md:self-start md:order-1">
                        <Image class="" src={Levering} alt="levering illustration"></Image>
                    </div>
                </section>
                  <!-- pil -->
                <div class="grid justify-items-end w-[30%] mx-auto md:w-full md:m-0  md:absolute ">
                    <div class="  bg-[url('/bue-right.svg')] aspect-[28/97] bg-contain w-[20%] bg-no-repeat md:bg-[url('/bue-up.svg')] md:aspect-[191/44] md:w-[10%]">
                </div>
            </section>

            <section class="flex flex-col md:flex-row gap-xs relative">
                <article class="flex flex-row md:flex-col md:justify-center md:gap-xxs justify-between gap-sm">
                    <!-- tekst -->
                    <div class="self-center order-2 md:self-start md:order-1">
                        <!-- heading -->
                        <h3 class="text-headline3 sm:text-headline3-lg font-bold ">
                            4.
                            <br>
                            Nyd vinen
                        </h3>
                        <!-- brødtekst -->
                        <p>
                            Smag, lær og par vinen med opskrifterne i kassen.
                        </p>
                    </div>
                    <!-- ikon -->
                    <div class="self-center md:self-start  md:order-2">
                        <Image class="" src={SkaalIkon} alt="to vinglas der skåler illustration"></Image>
                    </div>
                </section>
                 </div>
            </section>
        </section>
    </article>

</MainLayout>
