---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from 'astro:assets';
import RasmusOgMichael from "../assets/images/rasmusogmichael.png";
import Medarbejdere from "../assets/images/medarbejdere.png";
import Vinglas1 from "../assets/images/vinglas1.svg";
import VinFlaskeLeft from "../assets/images/vinflaskeleft.svg";
import Vinglas2 from "../assets/images/vinglas2.svg";
import VinFlaskeRight from "../assets/images/vinflaskeright.svg";
import Vinglas3 from "../assets/images/vinglas3.svg";
import Om from "../assets/images/om.svg";
import Os from "../assets/images/os.svg";
---
<style>
    h1{
        @apply italic;
        @apply text-orange-500
    }
</style>
<MainLayout>
<article class=" relative grid md:grid-cols-2 md:gap-xs max-w-[1000px] mx-auto p-xs py-8xl">
    <!-- display tekst sættes til absolute, så det går udover billederne -->
    <div class="p-xs absolute flex flex-row gap-m">
        <Image src={Om} alt=""></Image>
        <Image class="pt-6xl md:pt-0" src={Os} alt=""></Image>
    </div>
    <div class="">
        <Image class="w-2/3 md:w-full" src={RasmusOgMichael} alt=""></Image>
    </div>
    <div class="self-center">
         <!-- vinglas og flasker-->
       <div class="flex flex-row justify-between ">
            <Image class="aspect-[73/138] w-[15%]" src={Vinglas1} alt=""></Image>
            <Image class="aspect-[73/138]  w-[15%]" src={VinFlaskeLeft} alt=""></Image>
            <Image class="aspect-[73/138] w-[15%]" src={Vinglas2} alt=""></Image>
            <Image class="aspect-[73/138] w-[15%]" src={VinFlaskeRight} alt=""></Image>
            <Image class="aspect-[73/138] w-[15%]" src={Vinglas3} alt=""></Image>
       </div>
        <!-- medarbejdere billeder, fjernes på mobil -->
        <Image class="hidden md:block" src={Medarbejdere} alt=""></Image>
    </div>
</article>

<article>
    <!-- Erfaring og viden -->
    <section>
        <div>
            <h1>Erfaring & viden</h1>
            <p>
                Tæller man efter, har vi til sammen tilbagelagt omkring 30 år i restaurationsbranchen. Med andre ord, så har vi skænket vores del vin, og fortalt mindst ligeså mange røverhistorier. 
                Et vigtigt element for os begge, har altid været arbejdet med naturvinen. Et fokusområde som vi har implementeret på samtlige af de steder vi har arbejdet igennem tiden. Steder som tæller alt ligefra Michelin-restauranter til nogle af landets absolut bedste vinbarer. 
                Så man kan vidst roligt sige, at vi har erfaring og viden med i bagagen. Dette kombineret med en umættelig nysgerrighed og interesse for vinen, gør, at vi kan videregive fantastiske oplevelser til alle jer.
            </p>
        </div>
        <div>

        </div>
    </section>
     <!-- Hvorfor naturvinskassen-->
    <section>
        <div class="md:order-2">
            <h1>Hvorfor Naturvinskassen?</h1>
            <p>
                Vi manglede en legeplads der kunne rumme alle vores skøre ideer, vores evige søgen og nysgerrighed efter nye vine og nye vinbønder, samt vores enorme trang til hele tiden at formidle og dele vinoplevelser med andre. 
                Derfor blev Naturvinskassen søsat! Her får alle vores medlemmer det fulde udbytte af vores passion og hårde arbejde, kombineret med en lærerig (vin)rejse, uden nogen final destination. 
                Og det er lige præcis dét, som Naturvinskassen kan og skal kunne.
            </p>
        </div>
        <div>
            
        </div>
    </section>
     <!-- vores ønske-->
    <section>
        <div>
            <h1>Vores ønske</h1>
            <p>
                Vores arbejde med Naturvinskassen handler først og fremmest om at videreformidle og dele oplevelser, med alle vores medlemmer! Det er lige præcis dét, som vi hele tiden bestræber os på. 
Vi støder på rigtig, rigtig mange vinbønder og smager endnu flere vine. Noget smager godt, noget smager knap så godt, og noget smager så godt, at vi bliver nødt til at dele det med alle vores medlemmer.
            </p>
        </div>
        <div>
            
        </div>
    </section>
</article>

</MainLayout>