---
import { Image } from 'astro:assets';
import Visa from "../assets/images/visa.svg";
import Mastercard from "../assets/images/mastercard.svg";
import Facebook from "../assets/images/facebook.svg";
import Instagram from "../assets/images/instagram.svg";
import Twitter from "../assets/images/Twitter.svg";
---

<!-- selve footer -->
<article class="flex justify-between p-xs py-sm">

    <!-- Første collumn -->
    <div class="grid gap-xs lg:flex lg:flex-row-reverse lg:gap-m ">
        <div>
            <!-- mangler styling -->
            <h3 class="text-orange-500 font-semibold">Naturvinskassen</h3>
            <p>Borggade 16 8000, århus C</p>

            <!-- SOME ikoner på desktop, de bliver fjernet i tlf view -->
            <div class=" gap-xs pt-xs hidden lg:flex">
                  <!-- mangler links og hover -->
                <Image class='w-[7%]' src={Facebook} alt="facebook logo"></Image>    
                <Image class='w-[14%]'  src={Instagram} alt="ig logo"></Image>    
                <Image class='w-[14%]' src={Twitter} alt="x logo"></Image>    
            </div>
        </div>
        <div>
             <!-- mangler styling -->
            <h3 class="text-orange-500 font-semibold">Kontakt</h3>
            <p>
                +45 40 38 40 12
                <br>
                info@reduktivt.com
                <br>
                CVR: 39843978
            </p>
        </div>
    </div>
    
    <!-- Anden collumn -->
    <div class="grid gap-xs lg:flex">
         <!-- SOME ikoner på mobil, de bliver fjernet i desktop view -->
        <div class="flex gap-xs justify-end lg:hidden">
             <!-- mangler links og hover -->
              <a href="">
                
              </a>
            <Image class='w-[8%]' src={Facebook} alt="facebook logo"></Image>    
            <Image class='w-[16%]'  src={Instagram} alt="ig logo"></Image>    
            <Image class='w-[16%]' src={Twitter} alt="x logo"></Image>    
        </div>
        <div class="flex-col flex text-right underline lg:justify-center">
            <a href="">Privatlivspolitik</a>
            <a href="">Handelsbetingelser</a>
            <a href="">Abonnementsbetingelser</a>
        </div>
        <div class="flex gap-xxs justify-end lg:justify-center lg:flex-col">
            <Image class='w-[30%] lg:w-m' src={Visa} alt="visa logo"></Image>    
            <Image class='w-[30%] lg:w-m' src={Mastercard} alt="visa logo"></Image>    
        </div>
    </div>
</article>
